<h1>Watch Coordinate</h1>
<label for="id">watch Id:</label>
<input type="string" id="id"> <br>
<label for="longitude">Longitude:</label>
<input type="number" id="longitude"> <br>
<label for="latitude">Latitude:</label>
<input type="number" id="latitude"> <br>
<button type="button" onclick="sendData()">to Server</button> <br>

<script>

var id = document.getElementById("id");
var latitude = document.getElementById("longitude");
var longitude = document.getElementById("latitude");

function sendData() {
    sendToServer(id.value, latitude.value, longitude.value);
}

function sendToServer(i, a, b) {
    var path = "/api?i=" + i + "&a=" + a + "&b=" + b;
    console.log(path);
    fetch(path).then(function (response) {
        return response.text();
    }).then(function (html) {
        console.log(html);
    }).catch(function (err) {
        console.warn("unexpected error", err)
    })
}

</script>